name: ecommerce-prod

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
    
      - name: Build project
        run: mvn clean install

#      - name: Login do Docker Hub
#        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
#
#      - name: Build Docker image
#        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ecommerce-prod .
#
#      - name: Push Docker image
#        run: docker push ${{ secrets.DOCKER_USERNAME }}/ecommerce-prod

     
    